name: Update README with recent activity

on:
  schedule:
    - cron: '0 */24 * * *'  # Run every 24 hours
  workflow_dispatch:        # Manual trigger

permissions:
  contents: write

jobs:
  update-readme:
    name: Update this repo README with recent activity
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
      - uses: actions/checkout@v4
      - uses: jamesgeorge007/github-activity-readme@master
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          COMMIT_MSG: "docs: update recent activity."
          MAX_LINES: 6
          COMMIT_NAME: GitHub Activity Readme
